/* Coolors Exported Palette - coolors.co/283d3b-197278-edddd4-edf2f4-8d99ae */

/* HSL */
$color1: hsla(174%, 21%, 20%, 1);
$color2: hsla(184%, 66%, 28%, 1);
$color3: hsla(22%, 41%, 88%, 1);
$color4: hsla(197%, 24%, 94%, 1);
$color5: hsla(218%, 17%, 62%, 1);

/* RGB */
$color1: rgba(40, 61, 59, 1);
$color2: rgba(25, 114, 120, 1);
$color3: rgba(237, 221, 212, 1);
$color4: rgba(237, 242, 244, 1);
$color5: rgba(141, 153, 174, 1);

/* Opacity Values */
$airy: .30;
$light: .65;
$heavy: .90;